<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>
  <script src="https://cdn.tailwindcss.com"></script>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  <section class="max-w-7xl m-auto p-4 flex gap-4 flex-col font-sans text-gray-800">
    <div id="messages" class="font-mono bg-gray-100 border border-gray-300 rounded w-full h-[400px] p-6 flex gap-2 flex-col overflow-y-scroll"></div>

    <form id="message_form" class="flex gap-4" action="{{ route('submit.message') }}" method="post">
      <input id="username" class="bg-gray-100 border border-gray-300 rounded w-1/5 px-4 py-1" name="username" type="text" placeholder="Username">
      <input id="message" class="bg-gray-100 border border-gray-300 rounded w-1/3 px-4 py-1" name="message" type="text">
      <button class="border border-gray-300 rounded px-4 py-1" type="submit">Send</button>
    </form>
  </section>
</body>
</html>
